# Postgres database URL (local default port 5433)
DATABASE_URL=postgresql+psycopg2://claimsense:claimsense@localhost:5433/claimsense_db

UPLOAD_DIR=uploads
DEBUG=true
OPENAI_API_KEY=""
GOOGLE_VISION_API_KEY=''
